<div class="container">
  <h2>Your poll: "<%= @poll.title %>"</h2>

  <div class="edit-attributes-form container span5">
      <%= render 'edit_attributes_form' %>
  </div>

  <div class="edit-attributes-form container span6">
      <%= render 'edit_questions' %>
  </div>
</div>